@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  width: 100vw;
  height: 100vh;
}

#root{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.game {
  background: white;
  overflow: hidden;
}

.gameOS{
  position: relative;
}

.cell{
  background: rgba(255, 255, 255, 0.22);
  cursor: pointer;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", serif;
}